<mat-card class="country-details-card" 
            style="margin: 20px 20px; width: 70%; height: 100%; background-color: rgb(167, 51, 251)">
    <mat-card-header>
        <mat-card-title>{{country.countryData.name}}</mat-card-title>
        <mat-card-subtitle>{{country.countryData.capitalCity}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content><p>{{country.countryData.region.value}}</p></mat-card-content>
    <mat-card-content><p>{{country.countryData.incomeLevel.value}}</p></mat-card-content>
    <mat-card-content><p>{{id}}</p></mat-card-content>
</mat-card>
