<mat-grid-list cols="3" rowHeight="4:3">
    <mat-grid-tile
        [colspan]="2"
        [rowspan]="2"
        >
        <div id="world-map-container" style="margin: 20px 10px 10px 10px; overflow:auto; background-color:  blue; width: 100%; height: 100%; ">
            <app-world-map (grabCountryID)="grabID($event)"></app-world-map>
        </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">
        <div style="width: 100%; height: 100%; margin: 20px">
            <app-country-details [id]="id"></app-country-details>
        </div>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1">{{id}}</mat-grid-tile>
</mat-grid-list>